@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "events";
@import "admin/application";
 @import "home";

body {
   font-family: "Open Sans", sans-serif;
  font-size: 14px;
   
  padding-top: 40px;
   background: #fff;
  color: #2f3138;
 
}



a {
  color:  #0e1b4d;
  transition: 0.5s;
}

a:hover {
  color: #f8234a;
  outline: none;
  text-decoration: none

}

header {
  @extend .page-header;
  position: relative;
  padding-bottom: 0;
  padding-top:  60px;

  &:first-child {
    margin-top: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    max-width: 55%;
    font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  color: #0e1b4d;
  }
}

ul.actions {
  @extend .list-unstyled;
  @extend .list-inline;
  position: absolute;
  bottom: -2px;
  right: 2px;
  max-width: 45%;
  text-align: right;
}

a.new,
a.edit,
a.delete,
a.ibtn  {
  background:#0e1b4d;
  border-color: #0e1b4d;
  border-radius: 20px; 
  color: #fff;
}
a.new:hover,
a.edit:hover,
a.delete:hover,
a.ibtn:hover {
  background:#f8234a;
  border-color: #f8234a;
} 

a.new,
a.edit,
a.delete,
a.ibtn,
 {
  @extend .btn;
 
  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
    
  }

}

a.ibtn {
  @extend .btn-primary;
}

a.new {
  @extend .btn-success;

  &:before {
    @extend .fa-plus;
  }
}

a.edit {
  @extend .btn-primary;

  &:before {
    @extend .fa-pencil;
  }
}

a.delete {
  @extend .btn-danger;

  &:before {
    @extend .fa-trash;
  }
}

.alert-notice{
  @extend .alert-success;
    margin: 30px;
    position: absolute;
    top: 40px;
    left: 20px;
    right: 20px;
}

.alert-alert{
  @extend .alert-danger;
     margin: 30px;
    position: absolute;
    top: 40px;
    left: 20px;
    right: 20px;

}


span.past {
  background: #c9302c;

}

span.upcoming {
  background: #449d44;
}

span.upcoming,
span.past {
  color: #fff;
  font-weight: bold;
  border-radius: 3px;

  &:before {
    font-family: "FontAwesome";
    padding: 1.5em;
  }
}

span.upcoming {
  &:before {
    @extend .fa-check;
  }
}

span.past {
  &:before {
    @extend .fa-close;
  }
}


.devise-page{
   width: 100%;
  height: 150vh;
  background: asset_url("7.jpg") top center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  padding-top: 0;
}

.devise-page:before {
  content: "";
  background: rgba(6, 12, 34, 0.8);
  position: absolute;
  bottom: 10px;
  top: 0;
  left: 0;
  right: 0;
}


.thumbnail{
  padding: 20px;
  margin: 15px;
}

.navbar{
  height: 70px;
}
.navbar-inverse{
  background: #0e1b4d;

}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover{
  background: rgba(6, 12, 34, 0.8);
  height: 70px;
}

.navbar-brand{
  padding: 0px;
  margin: 0px;
  margin-right: 0px;
  float: right;
}

.navbar-brand >img {
  height: 70px;
  padding: 0px;
  width: 100%;
  margin-right: 0px;

}











/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
